.mat-card-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .mat-card-hldr {
    flex: 1;
    position: relative;

    .material-card {
      margin: 5px;
      background-color:#fff;
      padding:10px;

      .task-title{
        font-weight:bold;
      }

      .material-icon {
        margin: 5px;
        cursor: pointer;
      }

       p {
        word-wrap:break-word;
      }
    }

    .material-card.bug{
      border-left:6px solid #ef4646;
    }
    .material-card.task{
      border-left:6px solid #35d8e6;
    }
    .material-card.user-story{
      border-left:6px solid #7dd438;
    }
    .material-card.spike{
      border-left:6px solid #ffa500;
    }
  }
}