<form class="task-form" #taskForm="ngForm">
	<div mat-dialog-content class="mat-form">
		<mat-form-field>
			<input matInput [(ngModel)]="taskData.title" placeholder="Title" name="title" required>
		</mat-form-field>
		<mat-form-field>
			<textarea matInput [(ngModel)]="taskData.description" placeholder="Description" name="description" required></textarea>
		</mat-form-field>
		<mat-form-field>
			<textarea matInput [(ngModel)]="taskData.storyPoints" placeholder="Story Points" name="storyPoints" required></textarea>
		</mat-form-field>
		<mat-form-field>
			<mat-select placeholder="Issue Type" [(ngModel)]="taskData.issueType" name="issueType" [compareWith]="compareFn" required>
				<mat-option>-- None --</mat-option>
				<ng-container *ngFor="let issue of issueTypes">
					<mat-option *ngFor="let issue of issueTypes" [value]="issue">{{issue.value}}</mat-option>
				</ng-container>
			</mat-select>
		</mat-form-field>
	</div>
	<div mat-dialog-actions class="mat-btns">
		<button mat-button (click)="cancel()">Cancel</button>
		<button mat-button [mat-dialog-close]="taskData" [disabled]="taskForm.invalid">Ok</button>
	</div>
</form>